name: CI Unit Tests
on:
  workflow_call:
    inputs:
      module-list:
        description: 'Comma-separated list of PowerShell modules to install and cache'
        required: true
        type: string

jobs:
  unit:
    permissions:
      issues: write
      pull-requests: write
      checks: write
    name: Pester Unit Tests
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.01
        with:
          repository: ${{ github.repository }}

      - name: Install and cache PowerShell modules
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 #v6.2.1
        with:
          modules-to-cache: ${{ inputs['module-list'] }}  
          shell: pwsh
          updatable: false

      - name: Run Unit Tests via Invoke-Build
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Invoke-Build -Task Invoke-UnitTests

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f #v2.22.0
        if: (!cancelled())
        with:
          check_run: false
          check_name: ">> Report: Unit Tests"
          check_run_annotations	: all tests, skipped tests
          job_summary: true
          comment_title:  Unit Test Report
          comment_mode: off
          fail_on: test failures
          files: |
            test-results/unit-tests.xml

      - name: Setup .NET Core for ReportGenerator
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x
          dotnet-quality: 'ga'

      - name: Run ReportGenerator on Code Coverage Report
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
        with:
          reports: 'test-results/codecoverage/code-coverage.xml'
          targetdir: 'test-results/codecoverage/report'
          reporttypes: 'HtmlInline;MarkdownSummaryGithub'
          sourcedirs: 'src'
          verbosity: 'Info'
          title: 'Code Coverage Report'
          tag: '${{ github.ref_name }}_${{ github.sha }}'
          toolpath: 'reportgeneratortool'

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport # Artifact name        
          path: test-results/codecoverage/report # Directory containing files to upload

          
      - name: Publish coverage in build summary # Only applicable if 'MarkdownSummaryGithub' or one of the other Markdown report types is generated
        run: cat test-results/codecoverage/report/SummaryGithub.md >> $GITHUB_STEP_SUMMARY # Adjust path and filename if necessary
        shell: bash